.admin-page {
    .links-table {
        position: relative;
        margin-top: 25px;

        .links-search {
            position: absolute;
            top: -35px;
            right: 10px;
        }

        .table {
            tr {
                cursor: pointer;
            }

            td {
                max-width: 1px;

                &:first-child {
                    width: 65%;
                }

                &:last-child {
                    width: 35%;
                }

                .full-width {
                    display: inline-block;
                    width: 100%;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }
            }
        }

        @media (max-width: @screen-xs-max) {
            margin-top: 75px;
        }
    }

    .generated-link {
        position: relative;
        height: 20px;
        padding-top: 15px;
        font-weight: bold;
        color: navy;
        z-index: 10;

        .glyphicon {
            margin-left: 2px;
            font-size: 10px;
        }
    }

    .duplicate-popup tr:first-child td {
        border-top: 0;
    }

    .edit-link.modal .modal-body {
        color: #4c4c4c;

        input {
            display: inline-block;
            width: auto;
        }

        .link-exists {
            margin-left: 10px;
            color: #c9302c;
        }
    }
}
