.stat-page {
    .page-title {
        padding-bottom: 30px;
    }

    .group-wrapper {
        display: inline-block;

        .glyphicon {
            font-size: 12px;
            color: #337ab7;
        }

        .form-control {
            display: inline-block;
            width: 160px;
        }
    }
}
